{% load static %}

<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="{% static 'style.css' %}">

      <title>Contact Page</title>
   </head>
   <body>
      <!--==================== HEADER ====================-->
      <header class="header" id="header">
         <nav class="nav container">
            <a href="#" class="nav__logo">Tect Tonic</a>

            <div class="nav__menu" id="nav-menu">
               <ul class="nav__list">
                  <li class="nav__item">
                     <a href="/home" class="nav__link">home</a>
                  </li>

                  <li class="nav__item">
                     <a href="/product" class="nav__link">product</a>
                  </li>

                  <li class="nav__item">
                     <a href="/about_us" class="nav__link">About Us</a>
                  </li>


                  <li class="nav__item">
                     <a href="/contact" class="nav__link">Contact</a>
                  </li>

                  {% if user.is_authenticated and user.is_superuser%}
                  <li class="nav__item">
                     <a href="/vendor" class="nav__link">Vendor</a>
                  </li> 
   
                  <li class="nav__item">
                     <a href="/sell" class="nav__link">sell</a>
                  </li>
                  {% endif %}
               </ul>

               <!-- Close button -->
               <div class="nav__close" id="nav-close">
                  <i class="ri-close-line"></i>
               </div>
            </div>

            <div class="nav__actions">
         

               <!-- Login button -->
               <i class="ri-user-line nav__login" id="login-btn"></i>

               <!-- Toggle button -->
               <div class="nav__toggle" id="nav-toggle">
                  <i class="ri-menu-line"></i>
               </div>
            </div>
         </nav>
      </header>

      <!--==================== LOGIN ====================-->
      <div class="login" id="login">
         <form action="{% url 'logout' %}" class="login__form">
            <h1>User Details</h1>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <button type="submit">Logout</button>
         </form>
         

         <i class="ri-close-line login__close" id="login-close"></i>
      </div>
      
      <!--=============== MAIN JS ===============-->
      <script src="{% static 'main.js' %}"></script>

   <br><br><br><br>
   
   <!--=============== MAIN JS ===============-->
   <script src="{% static 'main.js' %}"></script>
        <div class="contact-container">
            <h1>Contact Us</h1>
            <div class="contact-info">
                <div class="contact-item">
                    <h2>Phone</h2>
                    <p><a href="tel:+91 9837663524">+91 98367 63524</a></p>
                    <p><a href="tel:+91 9052789735">+91 90527 89735</a></p>
                </div>
                <div class="contact-item">
                    <h2>Email</h2>
                    <p><a href="mailto:techtonic@gmail.com">techtonic@gmail.com</a></p>
                    <p><a href="mailto:techtonicorder@gmail.com">techtonicorder@gmail.com</a></p>
                </div>
                <div class="contact-item">
                    <h2>office Address</h2>
                    <p>Shree Ganesh Apartment,ground Floar,Bhutiya Nagar<br>Mumbai ,Maharastra ,943759<br>India</p>
                </div>
            </div>
        </div>


        <div class="contact-container">
            <h1>Contact Us</h1>
            <form action="" method="post" class="contact-form">
                {% csrf_token %}
                
                <label>Name:</label>
                <input type="text" id="name" name="name" required>
    
                <label>Email:</label>
                <input type="email" id="email" name="email" required>
    
                <label>Subject:</label>
                <input type="text" id="subject" name="subject" required>
    
                <label>Message:</label>
                <textarea id="message" name="message" rows="5" required></textarea>
    
                <button type="submit">Send Message</button>
            </form>
            {% if message%}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </body>
    </html>